.features-tiles-item-image1 img {
	display: inline-flex;
	width: 35%;
	margin-bottom: 43px;
	// background-color: #2c73d1;
}

.features-tiles-item-image2 img {
	display: inline-flex;
	width: 37%;
	margin-bottom: 40px;
	// background-color: #2c73d1;
}

.features-tiles-item-image img {
	display: inline-flex;
	width: 30%;
	margin-bottom: 50px;
	// background-color: #2c73d1;
}
